<h4 class="mt-5">Uploaded Images Details</h4>

{% if images %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Red Pixels</th>
                <th>Green Pixels</th>
                <th>Blue Pixels</th>
                <th>Uploaded At</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
                <tr>
                    <td>{{ image.user_name }}</td>
                    <td>{{ image.red_pixels }}</td>
                    <td>{{ image.green_pixels }}</td>
                    <td>{{ image.blue_pixels }}</td>
                    <td>{{ image.upload_time }}</td>
                    <td>
                        <img src="{{ url_for('uploaded_file', filename=image.image_path) }}" alt="Uploaded Image" style="width: 300px;">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No uploaded images yet.</p>
{% endif %}
