{% extends "base.html" %}
{% block title %}Restaurant List{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
    </style>
{% endblock %}
{% block content %}
      <h1>Restaurants</h1>

      {% if restaurants %}
          <table class="table">
              <thead>
                  <tr>
                      <th>Image</th>
                      <th>Name</th>
                      <th>Rating</th>
                      <th class="text-end">Details</th>
                  </tr>
              </thead>
              <tbody>
                  {% for restaurant in restaurants %}
                      <tr>
                          <td><img src="{{ url_for('static', filename='images/' + restaurant.image) }}" alt="Restaurant Image" style="width: 50px; height: 50px;"></td>
                          <td>{{ restaurant.name }}</td>
                          <td>{% include "star_rating.html" %}</td>
                          <td class="text-end"><a href="{{ url_for('details', id=restaurant.id) }}" class="btn btn-sm btn-primary">Details</a></td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      {% else %}
          <p>No restaurants exist. Select Add new restaurant to add one.</p>
      {% endif %}

      <div class="d-flex justify-content-end">
              <a href="{{ url_for('create_restaurant') }}" class="btn btn-success px-4 gap-3">Add new image</a>
      </div>

      <!-- GALERÍA DE IMÁGENES SUBIDAS -->
      <hr>
      <h2 class="mt-5">Uploaded Images</h2>
      <div class="row">
          {% for image in images %}
              <div class="col-md-4 mb-4">
                  <div class="card">
                      <img src="{{ url_for('uploaded_file', filename=image.image_path) }}" class="card-img-top" alt="Uploaded Image">
                      <div class="card-body">
                          <p class="card-text">Uploaded at: {{ image.upload_time }}</p>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
{% endblock %}
