{% extends "base.html" %}
{% block title %}Restaurant List{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
    </style>
{% endblock %}
{% block content %}
    <h1>Images</h1>

    {% if images %}
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Red Pixels</th>
                    <th>Green Pixels</th>
                    <th>Blue Pixels</th>
                    <th>Uploaded At</th>
                    <th>Image Name</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for image in images %}
                    <tr>
                        <td>{{ image.user_name }}</td>
                        <td>{{ image.red_pixels }}</td>
                        <td>{{ image.green_pixels }}</td>
                        <td>{{ image.blue_pixels }}</td>
                        <td>{{ image.name }}</td>
                        <td>{{ image.upload_time }}</td>
                        <td><img src="{{ url_for('uploaded_file', filename=image.image_path) }}" alt="Uploaded Image" style="width: 100px; height: 100px;"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No images exist. Select Add new image to add one.</p>
    {% endif %}
        

      <div class="d-flex justify-content-end">
              <a href="{{ url_for('create_image') }}" class="btn btn-success px-4 gap-3">Add new image</a>
      </div>

      <!-- GALERÍA DE IMÁGENES SUBIDAS -->
      <hr>
      <h2 class="mt-5">Uploaded Images</h2>
      <div class="row">
          {% for image in images %}
              <div class="col-md-4 mb-4">
                  <div class="card">
                      <img src="{{ url_for('uploaded_file', filename=image.image_path) }}" class="card-img-top" alt="Uploaded Image">
                      <div class="card-body">
                          <p class="card-text">Uploaded at: {{ image.upload_time }}</p>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
{% endblock %}
